body {
    margin: 0;
    padding: 0;
    background-color: #2f3634;
    color: antiquewhite;
}
.taskwrapper {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 40px 0;
}